.task-item {
  margin: 1rem 0;
  background-color: bisque;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: black;
  padding: 1rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.task-item:hover {
  background-color: rgb(252, 202, 140);
}

.task-meta {
  display: flex;
  justify-content: space-between;
}

.task-user {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
  padding: 0.5rem;
  border-radius: 5px;
}

.task-task {
  margin: 1rem 1rem;
}

.task-priority {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  padding: 0.5rem;
  border-radius: 5px;
}

.high {
  background-color: rgb(251, 138, 138);
}

.high:hover {
  background-color: rgb(255, 100, 100);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.medium {
  background-color: rgb(255, 255, 136);
}

.medium:hover {
  background-color: rgb(231, 231, 76);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.low {
  background-color: rgb(219, 255, 164);
}

.low:hover {
  background-color: rgb(191, 255, 96);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}