.task-form {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  width: 30rem;
  align-content: space-around;
  padding: 2rem;
  max-width: 90%;
  background-color: beige;
}

.task-input {
  font-size: 18px;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.25rem 0;
  line-height: 1.5rem;
  padding: 0.5rem 0.5rem;
}

.task-input.invalid {
  background-color: rgb(249, 211, 204);
  box-shadow: 0 0 0 2px tomato inset;
  border: 1px solid transparent;
}

.task-label {
  font-weight: bold;
}

.priority-selector {
  margin: 0.25rem 0;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 18px;
  padding: 0.3rem
}
