.login {
  margin: 8rem auto;
  max-width: 90%;
  padding: 2rem;
  width: 30rem;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  margin-bottom: 0.2rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem;
  border-radius: 3px;
  border: 1px solid ;
  background-color: rgb(240, 240, 240);
}

.control input:focus {
  outline: none;
  border: 1px solid rgb(248, 175, 111);
}

.control.invalid input {
  border-color: red;
  background-color: rgb(255, 144, 124);
}

.actions {
  text-align: center;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}